
<!-- Creates the canva on this page only -->
<canvas id="b" style="position: absolute"></canvas>
<div id="animationContainer"></div>
<!--<div id="draw-circle"></div>
<div id="draw-rect"></div>
<div id="draw-line"></div>
<div id="draw-triangle"></div>
<div id="draw-curve"></div>
<div id="draw-spiral"></div> -->

<h1 class="animation_page">Tests animations</h1>

<!--instructions -->	
<h1 class="instructions">Press one of the following keys to change the background color: Q, W, E, R, T, Y</h1>



