
<div id="counter"></div>
<form id="loop-save">
  <input name="loop-name" id="loop-name" placeholder="Name your loop">
  <input name="loop-colour" id="loop-colour" type="color" />
  <button>Save Loop</button>
</form>