/* Define all circles with the same style */
.circle_animated{
  border-radius: 50%;
  display: block;
  position: absolute;
  transition: all 0.1s ease;
  opacity: 0;
  border-style: solid;
}

/* then add different styles to each different circle */

/*------------------- LETTER Q -----------------------*/
#circleQ{
  border-color: #CC33FF;
}

/*------------------- LETTER W -----------------------*/

#circleW{
  border-color: rgb(255,255,0);
}

/*------------------- LETTER E -----------------------*/

#circleE{
  border-color: rgb(120,230,0);
}

/*------------------- LETTER R -----------------------*/

#circleR{
  border-color: #FF66FF;
}

/*------------------- LETTER T -----------------------*/

#circleT{
  border-color: rgb(245,0,0);
}

/*------------------- LETTER Y -----------------------*/

#circleY{
  border-color: rgb(214,24,111);
}

/*------------------- LETTER U -----------------------*/

#circleU{
  transition: all 0.1s ease;
  border-color: rgb(244,0,202);
}

/*------------------- LETTER I -----------------------*/

#circleI{
  border-color: rgb(128,0,255);
}

/*------------------- LETTER O-----------------------*/

#circleO{
  border-color: rgb(79,3,202);
}

/*------------------- LETTER P -----------------------*/

#circleP{
  border-color: rgb(28,127,255);
}

/*------------------- LETTER A -----------------------*/

#circleA{
  border-color: rgb(43,190,255);
}

/*------------------- LETTER S -----------------------*/

#circleS{
  border-color: rgb(60,255,187);
}

/*------------------- LETTER D -----------------------*/

#circleD{
  border-color: rgb(61,255,50);
}

/*------------------- LETTER F -----------------------*/

#circleF{
  border-color: rgb(43,159,0);
}

/*------------------- LETTER G -----------------------*/

#circleG{
  border-color: rgb(120,230,0);
}

/*------------------- LETTER H -----------------------*/

#circleH{
  border-color: rgb(178,253,0);
}

/*------------------- LETTER J -----------------------*/

#circleJ{
  border-color: rgb(28,127,255);
}

/*------------------- LETTER K -----------------------*/

#circleK{
  border-color: rgb(43,190,255);
}

/*------------------- LETTER L -----------------------*/

#circleL{
  border-color: rgb(60,255,187);
}

/*------------------- LETTER Z -----------------------*/

#circleZ{
  border-color: rgb(0,0,0);
}

/*------------------- LETTER X -----------------------*/

#circleX{
  border-color: rgb(232,233,232);
}

/*------------------- LETTER C -----------------------*/

#circleC{
  border-color: rgb(255,255,255);
}

/*------------------- LETTER V -----------------------*/

#circleV{
  border-color: #669999;
}

/*------------------- LETTER B -----------------------*/

#circleB{
  border-color: #00CC99;
}

/*------------------- LETTER N -----------------------*/

#circleN{
  border-color: #66FFFF;
}

/*------------------- LETTER M -----------------------*/

#circleM{
  border-color: #99FF66;
}

.gridLine{
  width: 1px;
  background-color: grey;
  position: absolute;
}

/*--------------------- BPM BUTTONS -------------------*/

#bpm.bpm{
  width: 40px;
  display: inline-block;
  margin-left: 5px;
}

#bpmPlus.bpmPlus{
  width: 40px;
  display: inline-block;
  margin-left: 5px;
}

#bpmMinus.bpmMinus{
  width: 40px;
  display: inline-block;
  margin-left: 2px;
}

#startBpm.startBpm{
  width: 50px;
  display: inline-block;
  margin-left: 40px;
}

/* this is the style that is applied when circle is played first time */
.circlelive_visible{
  opacity: 1;
  border-width: 1px;
}
/* this is the style that is applied when circle is played */
.circlelive{
  border-width: 10px;
}

