#animated-circle{
  width: 48%;
  height: 73%;
  border-radius: 50%;
  margin: 7% auto;
  display: block;
  transition: all 0.2s ease;
  border: solid 5px #CC33FF;

}
#animated-circle.circle-half{
  width: 54%;
  height: 80%;
  border: solid 5px #CC33FF;
}


#animated-circle.circle-whatever{
  width: 54%;
  height: 80%;
  border: solid 5px #FFF;
}