/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  margin: 0;
}

ul{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	z-index: 20;
/*	background-color: white;*/
	top: 0;
	padding: 5px;
	display: block;
	text-align: center;
}

li{
	display: inline-block;
	margin-right: 20px;
	font-family: Futura;
	font-size: 12px;
}

/*-------------------- PAGE CHARLIE CANVAS ------------------*/

canvas#b{
  position: absolute;
  width: 100%;
  height: 100%;
}

#draw-circle{
/*	position: absolute;*/
	z-index: 10;
}

#draw-rect, #draw-line, #draw-triangle{
	/*position: absolute;*/
	z-index: 10;
}

h1.animation_page{
	font-size: 12px;
	position: absolute;
	z-index: 10;
	color: black;
	display: block;
	max-width: 100%;
	padding: 5px;
	text-align: center;
	margin: 2% 45%;
}

h1.instructions{
	position: absolute;
	font-size: 12px;
	background-color: #bbb;
	display: block;
	max-width: 600px;
	padding: 5px;
	border-radius: 5%;
	margin: 4% 32%;
}