/* sets a background on the cued loop */
nav li.cued-loop a.load-loop{
  background: rgba(32,188,241,1);
}
nav li.cued-loop a.load-loop span{
  display: none;
}

/* sets a background on the current loop */
nav li.current-loop a.load-loop{
  background: rgba(230,50,50,0.4);
}
nav li.current-loop a.load-loop span{
  display: none;
}

/* makes the button fill the space */
nav li a.load-loop{
  width: 100%;
  display: block;
}

/* the clear button */
nav #loop-nav li a.clear-loop{
  background: rgba(32,188,241,0.8);
  padding: 0 10px;
  color: black;
  border-left: 1px solid rgba(0,0,0,0.4);;
  border-right: 1px solid rgba(255,255,255,0.1);
}

/* the delete button */
nav #loop-nav li a.delete-loop{
  background: rgba(230,50,50,0.8);
  padding: 0 10px;
  color: black;
  border-left: 1px solid rgba(0,0,0,0.4);;
  border-right: 1px solid rgba(255,255,255,0.1);
}

/* the save button */
nav li.loop-save{
  background: #333;
}
nav li.loop-save a{
  background: rgba(50,255,50,0.8);
  padding: 0 10px;
  color: black;
  border-left: 1px solid rgba(0,0,0,0.4);;
  border-right: 1px solid rgba(255,255,255,0.1);
  display: inline-block;
}
#column nav li.loop-save input{
  background:  #333;
  padding: 3px;
  color: white;
  display: inline-block;
  width: 68%;
  line-height: 190%;
  margin: 0 auto;
  border: none;
  box-shadow: none;
}

/* general */
nav #loop-nav li a{
  display: table-cell;
}

/* change tempo buttons */
nav li.bpm a.bpm-button{
  background: #333;
  padding: 0 12px;
  color: white;
  border-left: 1px solid rgba(0,0,0,0.4);;
  border-right: 1px solid rgba(255,255,255,0.1);
  display: inline-block;
}
a.metro-tic,
.current-forms{
  background: rgba(32,188,241,1);
}
.current-forms a{
  background: none !important;
}
nav li p,
nav li h2{
  padding: 5px 15px 10px 5px;
  background: #333;
  margin: 0;
}
