/* HELLS YES LETS USE SASSY CSS MIXINS TO CREATE GLOBAL COLOURS */

/* grid background colour */
$darkGrey: #333;

$looplBlue: rgba(32,188,241,1);

/* play head and blip colour */
$headAndBlips: rgba(0,255,0,0.8);


/*
to define a mixin do something like

@mixin something{
  color: #fff;
  font-size: 12px;
}

then you can use this to include the mixin
h1{
  @include something
}

must checkout @extend!!!

*/


body {
  padding: 0;
  margin: 0;
  z-index: -100;
  background: $darkGrey;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

/* this displays the main loop elements - the playbar and the blips */
#loop-window, #pop-up {
  z-index: 10;
  width: 85%;
  left: 15%;
  top: 0;
  position: absolute;
  display: block;
}

#pop-up p{
  color: white;
  font-size: 16px;
}

#pop-up {
  max-width: 60%;
  margin: 5% 10%;
  padding: 0px 15px 0px 15px;
  background-color: rgb(27, 27, 27);
  opacity: 0.7;
  text-align: center;
}

#pop-up #popupButton{
  max-width: 100px;
  margin: 2% 45%;
}

/* this displays the main amimations - the playbar and the blips */
#anim-window{
  width: 85%;
  left: 15%;
  top: 0;
  position: absolute;
  display: block;
  z-index: -10;
  overflow: hidden;
}

/* this displays the left column - needs to remain as 15% width or the other windows will overlap */
#column {
  width: 15%;
  display: block;
  box-shadow: 0 -1px 8px 3px black;
  background: rgb(36, 36, 36);
  z-index: 100;
  border-right: solid 1px #344;
  color: #FFF;
  overflow-y: scroll;
  

  /* some basic forms styling */
  input, button{
    display: block;
    padding: 3px;
    background: #FFF;
    box-shadow: 0 -1px 1px 1px rgba(0,0,0,0.5);
    color: $looplBlue;
    border-radius: 3px;
    border: 0;
    width: 90%;
    margin: 5px auto;
  }
  button{
    text-align: center;
    text-transform: uppercase;
  }
  .queue{
    color: $looplBlue;
    text-transform: lowercase;
  }
  #main{
    position: fixed;
    top: 0;
    background: #333;
    width: 15%;
  }
  #scrolling-section{
    padding: 150px 0 10px 0;
  }
}

#column img {
  margin-top: 10px;
  max-width: 100%;
}

.info_text {
  padding: 15px 20px 15px 15px;
  font-size: 12px;
  text-align: justify;
}

h2 {
  color: rgb(32, 188, 241);
  background-color: black;
  opacity: 0.8;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.4);
  width: 100%;
}

nav a {
  text-decoration: none;
  line-height: 250%;
  padding-left: 15px;
  color: white;
  display: block;
  transition: all .5s ease;
  text-transform: uppercase;
}

nav a:hover{
  background: rgba(255,255,255,0.1);
}

.welcome {
  padding-left: 15px;
}

/* Style for both Sign In and Sign Up buttons */
#sign-in,
#sign-up {
  padding-left: 15px;
  color: white;
  background-color: rgb(36, 36, 36);
  border: 0;
  text-align: left;
  font-size: 16px;
}

/* any class that you don't want shown on page load need display none - currently this includes sign in and sign up forms */
.sign-in,
.sign-up{
  display: none;
}
/* use this class to make something visible via js */
.toggle-visible{
  display: block;
}
.toggle-invisible{
  display: none;
}

/* all of the following is just the playhead */
#loop-head {
  position: absolute;
  border-right: solid 4px $looplBlue;
  height: 100%;
  width: 1px;
  display: block;
}

.key-blip {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,0.4);
  display: block;
  margin-left: -10px;
}

.key-blip:hover {
  background: rgba(230,50,50,0.8);
  border-radius: 0;
}

.key-blip.blipPlay{
  background: $looplBlue;
}



