#loop-window{
  width: 100%;
  height: 200px;
  background: #CCC;
  border: solid 1px #000;
  color: #F60;
  display: block;
  position: relative;
}
#loop-head{
  position: absolute;
  left: 0;
  border-right: solid 2px #F60;
  height: 200px;
  margin-left: -100px;
  width: 100px;
  display: block;
  background: -moz-linear-gradient(left,  rgba(255,178,0,0) 0%, rgba(255,102,0,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,178,0,0)), color-stop(100%,rgba(255,102,0,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,178,0,0) 0%,rgba(255,102,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,178,0,0) 0%,rgba(255,102,0,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,178,0,0) 0%,rgba(255,102,0,0.8) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,178,0,0) 0%,rgba(255,102,0,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffb200', endColorstr='#ccff6600',GradientType=1 ); /* IE6-9 */
}
.blip{
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: green;
  display: block;
}
.key-blip{
  position: absolute;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: red;
  display: block;
}
